<h2>Sign in</h2>

<div class="row-fluid">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		<%= f.input :email %>
		<%= f.input :password %>

		<% if devise_mapping.rememberable? -%>
		   <div><%= f.input :remember_me, as: :boolean %></div>
		<% end %>

		<div class="span3 alpha">
		  	<%= button_tag(type: 'submit', class: "btn btn-large btn-block btn-info") do %>
		        Sign In
		    <% end %>
		</div>
	<% end %>
</div>
<br />
<%= render "devise/shared/links" %>

