<%= simple_form_for [:admin, @product], :html => { :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= f.file_field :upload %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description %>
  <div class="actions"">
     <%= button_tag(type: 'submit', class: "btn btn-large btn-block btn-info") do %>
        Create Product
      <% end %>
  </div>
<% end %>
