
<div class="row-fluid">
  <div class="span8 center">
    <div class="span4">
      <%= link_to "New Product", new_product_path, :class => "btn btn-large btn-block btn-info" %>
    </div>
  </div>
</div>

<% @products.each do |product| %>
  <div class="row-fluid">
    <div class="span8 center">
      <h1>Products</h1>
      <div class="product">
        <strong><%= product.name %></strong>
        <p><%= product.description %></p>
        <div class="meta">
          <%= link_to product.created_at, product %>
            <span class="admin">
              | <%= link_to 'Edit', edit_product_path(product) %> |
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </span>
        </div>
      </div>
      
    </div>
  </div>
<% end %>





