
<div class="row-fluid">
    <div class="span3">
      <%= link_to "New Product", new_admin_product_path, :class => "btn btn-large btn-block btn-info" %>
    </div>
</div>


  <div class="row-fluid">
    <div class="products">
      <h1>Products</h1>
      <% @products.each do |product| %>
        <ul>
          <li>
            <div class="span8">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
              <p><strong>Price: <%= number_to_currency(product.price) %></strong></p>
              <div class="meta">
                <%= link_to product.created_at, admin_product_path(product) %>
                  <span class="admin">
                    | <%= link_to 'Edit', edit_admin_product_path(product) %> |
                    <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </span>
              </div>
            </div>
            <div class="span4">
              <%= image_tag product.photo.url(:big) %>
            </div>
          </li>
        </ul>
    </div>
  </div>
<% end %>





